 /*.card {
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    padding: 20px;
    text-align: center;
    display: grid;
}

/* Media query for screens wider than 768px (laptops and desktops)  */
 /*
@media (min-width: 769px) {
    .grid {
        display: flex;
        justify-content: space-between;
    }

    .card {
        width: calc(33.33% - 20px);
        
    }

} 
*/
 aside {
     background-color: #f0f0f0;
     padding: 10px;
     border: 1px solid #ccc;
     margin: 10px;
     border-radius: 5px;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
     /* Add other styles as needed */
 }


 .card {
     padding: 15px;
     margin: 15px;
     display: flex;
     flex-direction: column;
     /* Display elements vertically */

     /* Center elements horizontally  */
     text-align: center;
     background-color: #f0f0f0;

 }

 .card img {
     width: 90%;
     /* To make the image responsive within the card */
     height: auto;
     /* Maintain the image's aspect ratio */
     margin: 5px;
     /* Add some vertical spacing between the image and other elements */
 }

 .card button {
     width: 30%;
     height: 100%;
     background-color: #023e8a;
     color: white;
     border-radius: 5%;
     font-weight: bold;
     font-size: 18px;
     margin: 5px;
     cursor: pointer;
     align-items: start;




 }

 .card button:hover {
     text-decoration: none;
     /* Remove underline on hover */
 }

 .grid {
     display: grid;
     grid-template-columns: 1fr;

 }






 .date-section {
     display: flex;
     align-items: center;
     /* Vertically center the icon and date */
 }

 .date-section i {
     font-size: 1.5rem;
     /* Adjust the icon size as needed */
     margin-right: 0.5rem;
     /* Add some spacing between the icon and the date */
 }

 .loading-spinner {
     border: 4px solid rgba(255, 255, 255, 0.3);
     border-top: 4px solid #3498db;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     animation: spin 1s linear infinite;
     margin: 0 auto;
 }

 .pagination {
     display: flex;
     justify-content: center;
     margin-top: 20px;
 }

 .pagination button {
     background-color: white;
     color: black;
     border: 1px solid #ccc;
     padding: 8px 12px;
     margin: 0 5px;
     cursor: pointer;
 }

 .pagination button:hover {
     background-color: #f1f1f1;
 }

 .pagination button.active {
     background-color: #4caf50;
     /* Set the color for the current page */
     color: white;
     border: 1px solid #4caf50;
 }


 @keyframes spin {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }

 @media (min-width: 992px) {
     .grid {

         grid-template-columns: 1fr 1fr 1fr;
         gap: 1rem
     }





 }


 /* Decrease the size of the grid for screens 768px and below (mobile) */
 @media (max-width: 768px) {
     .grid {
         grid-template-columns: 1fr;
         /* You can use 1 column for smaller screens */
     }

     .card {
         width: 100%;
         /* Allow the cards to take up the full width of the screen */
     }
 }